 body {
 	/*background-color: #fff2e5;*/
 	background-color: snow;
 }

 .container {
	text-align: center;
	margin: 100px auto;
	border: 5px solid #e0e0d1;
	border-radius: 5px;
	background: #f2f2f2;
	width: 750px;
}

tr {
	text-align: left;
}

#field {
	margin: 30px auto;
}

h1 {
	text-align: center;
}

#task,
#due,
#add {
	margin-right: 20px;
}

thead > tr:first-of-type {
	border-bottom: 1px solid #bfbfbf;
}

tr.success td{
	background-color: #dff0d8 !important;
}